@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

a:link {
	color: transparent;
}

a:visited {
	color: transparent;
}

.navbar-header {
	text-decoration-line: none;
	text-decoration: none;
}

#MyNav {
    background-color: #E57373;
	margin: -1px;
}

.parallax-window {
    min-height: 250px;
    background: transparent;
}

.parallax-portfolio {
	height: 100px;
	background: transparent;
}

.jumbotron {
	margin-top: -22px;
	background: transparent;
	height: 750px;
}

#Jumbo {
	padding-top: 220px;
}

#JText {
	margin-top: -50px;
}

h1 {
	font-family: ‘Lato', sans-serif;
	font-weight: 300;
}

#about {
	margin-top: -30px;
	background-color: #FFEBEE;
}

#aboutme {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E57373;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0px 3px 8px 0px #888888;
}

#aboutwords {
	padding-top: 10px;
	background-color: #FFEBEE;
}

#aboutbar {
	padding-top: 30px;
}

#abouthead {
	padding-top: 100px;
	padding-top: 100px;
	padding-bottom: 40px;
	font-size: 40px;
	background-color: #FFEBEE;
}

#aboutitle {
	padding-bottom: 10px;
	background-color: #E57373;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0px 3px 8px 0px #888888;
    }
}

#plus {
	padding-bottom: 10px;
}

#under {
	margin-top: -14px;
}

#over {
	margin-top: 7px;
	padding-left: 30px;
}

#aboutfill {
	background-color: #FFEBEE;
	padding-bottom: 100px;;
}

#parallax1 {
	padding-top: 200px;
	background: transparent;
}

#portfolio {
	background-color: #E3F2FD;
}

#portfoliotitle {
	padding-top: 40px;
}

#ptitle {
	padding-bottom: 0px;
	background-color: #64B5F6;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0px 3px 8px 0px #888888;
}

#portfoliotitletext {
	margin-top: 12px
}

#portfoliodesciptions {
	color: #000000;
	background-color: #64B5F6;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0px 3px 8px 0px #888888;
}

#lance {
  background: -webkit-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #F0C27B 10%, #4B1248 90%); /* W3C */ 
}

#portfoliounder {
	padding-top: 60px;
}