@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

#MyNav {
    background-color: #F50057;
	margin: -1px;
}

.jumbotron {
	margin-top: -22px;
	background-image: url('../Images/Splash.png');
	height: 900px;
}

#Jumbo {
	padding-top: 220px;
}

#JText {
	margin-top: -50px;
}

h1 {
	font-family: ‘Lato', sans-serif;
	font-weight: 300;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

#about {
	margin-top: -30px;
	background-color: #EEEEEE;
}

#aboutbar {
	padding-top: 30px;
}

#abouthead {
	padding-top: 100px;
	padding-top: 100px;
	padding-bottom: 90px;
	font-size: 40px;
}

#aboutitle {
	padding-bottom: 10px;
	background-color: #F8BBD0;
	box-shadow: 3px 3px 1px #888888;
}

#plus {
	padding-bottom: 10px;
}

#under {
	margin-top: -5px;
}

#over {
	margin-top: 7px;
}